.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./river.jpg'); /* Path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  background: rgba(255, 255, 255, 0.8); /* Optional: add a semi-transparent background to the form */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove default border of the iframe */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flashing-number {
  position: fixed; /* Use fixed positioning for both mobile and desktop */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the number */
  font-size: 50px; /* Default font size for desktop */
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background for contrast */
  padding: 20px;
  border-radius: 5px;
  z-index: 999999; /* Ensure it's on top of all elements */
  animation: flash 1s ease-in-out infinite;
}

/* Flash animation */
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
  .flashing-number {
    font-size: 30px; /* Smaller font size for mobile */
    padding: 10px; /* Smaller padding for mobile screens */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
